<form class='form-inline' ng-submit='getRecipes()'>
<label for="search">find a recipe</label>
<input name='rSearch' type='text' class='form-control'>
<button class='btn btn-default'>search</button>
</form>